<main id="main" class="main">

  <div class="pagetitle">
   
   
  </div><!-- End Page Title -->

  <section class="section dashboard">

    
<div style="width: 400px;">
  <h3>Update Claim</h3>

  <form (ngSubmit)="updateClaim()">

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="claim.description" name="description">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          

          

           

         
         

        </div>
      </div><!-- End Left side columns -->


    </div>
  </section>

</main><!-- End #main -->

