








    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
           
            
          </tr>
        </thead>
        <tbody  *ngFor="let user of users">
          <tr>
            <th scope="row">1</th>
            <td class="logo d-flex align-items-center"><img src="{{user.avatar}}" alt="image"/></td>
            <td>{{user.nom}}</td>
            <td>{{user.email}}</td>
          </tr>
         
        </tbody>
      </table>
      