<main id="main" class="main">

  <div class="pagetitle">
    <h2> Competition</h2>
   
  </div><!-- End Page Title -->
  <td>
    <a class="btn btn-primary"  [routerLink]="['/add-competitions']">Ajouter</a></td>
<br>
  <section class="section dashboard"> 
    
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
          
            <th>name</th>
            <th>datec</th>
            <th>type</th>
            <th>description</th>
            <th>Actions</th>
                        
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let competition of competitions | async">
        
            <td>{{competition.nom}}</td>
            <td>{{competition.datec}}</td>
            <td>{{competition.type}}</td>
            <td>{{competition.description}}</td>
           
            <td> <button   class="btn btn-primary btn-sm" style="margin-left: 10px"> <a class="btn btn-primary btn-sm"  [routerLink]="['/update-competition',competition.id]" >Modifier</a></button></td>
            <td> <button   class="btn btn-primary btn-sm" style="margin-left: 10px" (click)="supprimer(competition.id)"> Supprimer</button></td>
         
          </tr>
         
        </tbody>
        
      </table>
 
</div>
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          

          

           

         
         

        </div>
      </div><!-- End Left side columns -->


    </div>
  </section>

</main><!-- End #main -->